In [1]:
ivy_schools_str = "Brown University, Columbia University, Cornell University, Dartmouth College, Harvard University, Princeton University, the University of Pennsylvania, Yale University"
ivy_schools = ivy_schools_str.split(", ")

In [2]:
ivy_schools

['Brown University',
 'Columbia University',
 'Cornell University',
 'Dartmouth College',
 'Harvard University',
 'Princeton University',
 'the University of Pennsylvania',
 'Yale University']

In [3]:
import pandas as pd

In [4]:
years = list(range(2010, 2025))
sports = ["football", 'mens-basketball', 'womens-basketball', 'womens-soccer', 'mens-soccer', 'womens-track-and-field',
          'mens-track-and-field']
oneyr_sports = ['womens-volleyball'] 

all_years_players = pd.DataFrame()
for sport in sports:
    for year in years:
        if year == 2024:
            print(year - 1, sport)

            yeardf = pd.read_html(f"https://cornellbigred.com/sports/{sport}/roster?view=2")[2]
            yeardf['year'] = year - 1
            yeardf['Sport'] = sport
            #print(yeardf.head())
            all_years_players = pd.concat([ yeardf, all_years_players], ignore_index=True)
        else:
            print(year, sport)
            yeardf = pd.read_html(f"https://cornellbigred.com/sports/{sport}/roster/{year-1}-{year-2000}?view=2")[2]
            yeardf['year'] = year - 1
            yeardf['Sport'] = sport
            #print(yeardf.head())
            all_years_players = pd.concat([all_years_players, yeardf], ignore_index=True)

for sport in oneyr_sports:
    
    for year in years:
            print(year - 1, sport)
            yeardf = pd.read_html(f"https://cornellbigred.com/sports/{sport}/roster/{year}?view=2")[2]
            yeardf['year'] = year - 1
            yeardf['Sport'] = 'volleyball'
            all_years_players = pd.concat([all_years_players, yeardf], ignore_index = True)

2010 football
2011 football
2012 football
2013 football
2014 football
2015 football
2016 football
2017 football
2018 football
2019 football
2020 football
2021 football
2022 football
2023 football
2023 football
2010 mens-basketball
2011 mens-basketball
2012 mens-basketball
2013 mens-basketball
2014 mens-basketball
2015 mens-basketball
2016 mens-basketball
2017 mens-basketball
2018 mens-basketball
2019 mens-basketball
2020 mens-basketball
2021 mens-basketball
2022 mens-basketball
2023 mens-basketball
2023 mens-basketball
2010 womens-basketball
2011 womens-basketball
2012 womens-basketball
2013 womens-basketball
2014 womens-basketball
2015 womens-basketball
2016 womens-basketball
2017 womens-basketball
2018 womens-basketball
2019 womens-basketball
2020 womens-basketball
2021 womens-basketball
2022 womens-basketball
2023 womens-basketball
2023 womens-basketball
2010 womens-soccer
2011 womens-soccer
2012 womens-soccer
2013 womens-soccer
2014 womens-soccer
2015 womens-soccer
2016 womens-soccer
2017 womens-soccer
2018 womens-soccer
2019 womens-soccer
2020 womens-soccer
2021 womens-soccer
2022 womens-soccer
2023 womens-soccer
2023 womens-soccer
2010 mens-soccer
2011 mens-soccer
2012 mens-soccer
2013 mens-soccer
2014 mens-soccer
2015 mens-soccer
2016 mens-soccer
2017 mens-soccer
2018 mens-soccer
2019 mens-soccer
2020 mens-soccer
2021 mens-soccer
2022 mens-soccer
2023 mens-soccer
2023 mens-soccer
2010 womens-track-and-field
2011 womens-track-and-field
2012 womens-track-and-field
2013 womens-track-and-field
2014 womens-track-and-field
2015 womens-track-and-field
2016 womens-track-and-field
2017 womens-track-and-field
2018 womens-track-and-field
2019 womens-track-and-field
2020 womens-track-and-field
2021 womens-track-and-field
2022 womens-track-and-field
2023 womens-track-and-field
2023 womens-track-and-field
2010 mens-track-and-field
2011 mens-track-and-field
2012 mens-track-and-field
2013 mens-track-and-field
2014 mens-track-and-field
2015 mens-track-and-field
2016 mens-track-and-field
2017 mens-track-and-field
2018 mens-track-and-field
2019 mens-track-and-field
2020 mens-track-and-field
2021 mens-track-and-field
2022 mens-track-and-field
2023 mens-track-and-field
2023 mens-track-and-field
2009 womens-volleyball
2010 womens-volleyball
2011 womens-volleyball
2012 womens-volleyball
2013 womens-volleyball
2014 womens-volleyball
2015 womens-volleyball
2016 womens-volleyball
2017 womens-volleyball
2018 womens-volleyball
2019 womens-volleyball
2020 womens-volleyball
2021 womens-volleyball
2022 womens-volleyball
2023 womens-volleyball

In [5]:
all_years_players.columns.values

array(['Name', 'Year', 'Pos.', 'Hometown / High School', 'year', 'Sport',
       'Events', 'No.', 'Ht.', 'Wt.', 'Previous School', 'Club Team', 'C',
       'Height', '#', 'Cl.', 'Hometown / Last School', 'Full Name',
       'Hometown/High School', 'Capt.', 'Major'], dtype=object)

In [6]:
all_years_players['Name'] = (all_years_players['Name'].fillna(" ") + all_years_players['Full Name'].fillna(" ")).str.strip()

In [7]:
hometown = all_years_players['Hometown / High School'].str.split("/", expand=True)
hometown
all_years_players['Hometown_2'] = hometown[0]
all_years_players['High_school_2'] = hometown[1]

In [8]:
hometown = all_years_players['Hometown / Last School'].str.split("/", expand=True)
hometown
all_years_players['Hometown_3'] = hometown[0]
all_years_players['High_school_3'] = hometown[1]

In [9]:
all_years_players[['Hometown_4', 'High School_4']] = all_years_players['Hometown/High School'].str.split("/", expand=True)

In [10]:
all_years_players['Height'] = (all_years_players['Ht.'].fillna(" ") + all_years_players['Height'].fillna(" ")).str.strip()
all_years_players['Academic Year'] = (all_years_players['Cl.'].fillna(" ") + all_years_players['Year'].fillna(" ")).str.strip()
all_years_players['Hometown'] = (all_years_players['Hometown_2'].fillna(" ") + all_years_players['Hometown_3'].fillna(" ") + all_years_players['Hometown_4'].fillna(" ")).str.strip()
all_years_players['High School'] = (all_years_players['High_school_2'].fillna(" ") + all_years_players['High_school_3'].fillna(" ") + all_years_players['High School_4'].fillna(" ")).str.strip()
all_years_players['Position'] = (all_years_players['Pos.'].fillna(" ") + all_years_players['Events'].fillna(" ")).str.strip()
all_years_players['Weight'] = all_years_players['Wt.']
all_years_players["College"] = 'Cornell'

In [11]:
cols =("""Name
Sport
College
Position
Height
Weight
Academic Year
Hometown
High School
year""".split("\n"))

In [13]:
df = all_years_players.loc[:, cols]

In [14]:
df.rename(columns={'year': 'Year'}, inplace=True)

In [15]:
df

,Name,Sport,College,Position,Height,Weight,Academic Year,Hometown,High School,Year
0,Aryan Abbaraju,mens-track-and-field,Cornell,Throws,,NaN,Fr.,"Kennett Square, Pa.",Unionville HS,2023
1,Diego Aguirre,mens-track-and-field,Cornell,Distance,,NaN,Jr.,"Delhi, N.Y.",Delaware Academy,2023
2,Abraham Ailemen,mens-track-and-field,Cornell,Jumps,,NaN,So.,"Chicago, Ill.",Lane Tech College Prep,2023
3,Derek Amicon,mens-track-and-field,Cornell,Distance,,NaN,Jr.,"Grandview Heights, Ohio",Grandview Heights HS,2023
4,Ryan Antwi,mens-track-and-field,Cornell,Jumps,,NaN,Fr.,"Holbrook, N.Y.",Central Islip HS,2023
...,...,...,...,...,...,...,...,...,...,...
5768,Sydney Moore,volleyball,Cornell,MB/RS,6-0,NaN,Sr.,"San Diego, Calif.",Cathedral Catholic HS,2023
5769,Meghan Gaffigan,volleyball,Cornell,OH/RS,6-1,NaN,So.,"Chesterton, Ind.",Chesterton HS,2023
5770,Megan Bickel,volleyball,Cornell,L,5-7,NaN,Jr.,"Kensington, Md.",Bethesda-Chevy Chase HS,2023
5771,Jaida Sione,volleyball,Cornell,OH,6-2,NaN,Fr.,"Chatsworth, Calif.",Sierra Canyon HS,2023
5772,Madison Wood,volleyball,Cornell,L,5-3,NaN,Fr.,"Manhattan Beach, Calif.",Mira Costa HS,2023

In [16]:
df.to_csv("Cornell_sports_10-23.csv")