In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time

In [2]:
# Index -- Name -- Sport -- Position -- Height -- Weight -- Academic year -- Hometown -- HS -- Year

In [3]:
# Mens Basketball

In [4]:
official_df = pd.DataFrame(columns = ['Name','Sport','Pos.','Ht','Wt.','Academic year','Hometown','High School','Year'])
official_df

Empty DataFrame
Columns: [Name, Sport, Pos., Ht, Wt., Academic year, Hometown, High School, Year]
Index: []

In [5]:
df = pd.read_html("https://gocrimson.com/sports/mens-basketball/roster?view=2")[2]
print(df.columns)
list(df.columns).index("Name")

Index(['No.', 'Name', 'Yr.', 'Pos.', 'Ht.', 'Wt.', 'Hometown', 'High School'], dtype='object')

1

In [6]:
#pd.concat([official_df, df])

In [7]:
# url format
# https://gocrimson.com/sports/mens-basketball/roster/20**-**?view=2

In [8]:
# mens basketball 2010-2019

In [9]:
all_years_players = pd.DataFrame()
sports = ['mens-basketball', 'womens-basketball']
oneyr_sports = ["football", 'womens-volleyball', 'womens-soccer', 'mens-soccer']
track =  'mens-track-and-field' # 2 tables on same page; one for mens, one for womens

years = range(2010, 2025, 1)

for sport in sports:
    for year in years:
        if year == 2024:
            print(year - 1, sport)
            yeardf = pd.read_html(f"https://gocrimson.com/sports/{sport}/roster?view=2")[2]
            yeardf['year'] = year - 1
            yeardf['sport'] = sport
            #print(yeardf.head())
            all_years_players = pd.concat([ yeardf, all_years_players], ignore_index=True)
        else:
            print(year, sport)
            yeardf = pd.read_html(f"https://gocrimson.com/sports/{sport}/roster/{year-1}-{year-2000}?view=2")[2]
            yeardf['year'] = year - 1
            yeardf['sport'] = sport
            #print(yeardf.head())
            all_years_players = pd.concat([ yeardf, all_years_players], ignore_index=True)

2010 mens-basketball
2011 mens-basketball
2012 mens-basketball
2013 mens-basketball
2014 mens-basketball
2015 mens-basketball
2016 mens-basketball
2017 mens-basketball
2018 mens-basketball
2019 mens-basketball
2020 mens-basketball
2021 mens-basketball
2022 mens-basketball
2023 mens-basketball
2023 mens-basketball
2010 womens-basketball
2011 womens-basketball
2012 womens-basketball
2013 womens-basketball
2014 womens-basketball
2015 womens-basketball
2016 womens-basketball
2017 womens-basketball
2018 womens-basketball
2019 womens-basketball
2020 womens-basketball
2021 womens-basketball
2022 womens-basketball
2023 womens-basketball
2023 womens-basketball

In [10]:
all_years_players.head()

,No.,Name,Yr.,Ht.,Hometown,High School,Pos.,year,sport,#,Full Name,Pos,Academic Year,Hometown / High School,Wt.,Position
0,3.0,Kennedy Heath,Sr.,5-9,"Cary, N.C.",Panther Creek,Guard,2023,womens-basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,Mona Zarić,Jr.,6-2,"Novi Sad, Serbia",Kykkos B'Lyceum,Forward,2023,womens-basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.0,Gabby Anderson,So.,5-11,"Columbus, Ohio",IMG Academy,Guard,2023,womens-basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10.0,Elena Rodriguez,Jr.,6-2,"Aguimes, Spain",IES Joaquin Artiles,Guard,2023,womens-basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12.0,Karlee White,Fy,5-9,"Burbank, Calif.",Oak Park High School,Guard,2023,womens-basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
for sport in oneyr_sports:
    for year in years:
            print(year - 1, sport)
            yeardf = pd.read_html(f"https://gocrimson.com/sports/{sport}/roster/{year}?view=2")[2]
            yeardf['year'] = year - 1
            yeardf['sport'] = sport
            all_years_players = pd.concat([all_years_players, yeardf], ignore_index = True)

2009 football
2010 football
2011 football
2012 football
2013 football
2014 football
2015 football
2016 football
2017 football
2018 football
2019 football
2020 football
2021 football
2022 football
2023 football
2009 womens-volleyball
2010 womens-volleyball
2011 womens-volleyball
2012 womens-volleyball
2013 womens-volleyball
2014 womens-volleyball
2015 womens-volleyball
2016 womens-volleyball
2017 womens-volleyball
2018 womens-volleyball
2019 womens-volleyball
2020 womens-volleyball
2021 womens-volleyball
2022 womens-volleyball
2023 womens-volleyball
2009 womens-soccer
2010 womens-soccer
2011 womens-soccer
2012 womens-soccer
2013 womens-soccer
2014 womens-soccer
2015 womens-soccer
2016 womens-soccer
2017 womens-soccer
2018 womens-soccer
2019 womens-soccer
2020 womens-soccer
2021 womens-soccer
2022 womens-soccer
2023 womens-soccer
2009 mens-soccer
2010 mens-soccer
2011 mens-soccer
2012 mens-soccer
2013 mens-soccer
2014 mens-soccer
2015 mens-soccer
2016 mens-soccer
2017 mens-soccer
2018 mens-soccer
2019 mens-soccer
2020 mens-soccer
2021 mens-soccer
2022 mens-soccer
2023 mens-soccer

In [12]:
all_years_players

,No.,Name,Yr.,Ht.,Hometown,High School,Pos.,year,sport,#,Full Name,Pos,Academic Year,Hometown / High School,Wt.,Position
0,3.0,Kennedy Heath,Sr.,5-9,"Cary, N.C.",Panther Creek,Guard,2023,womens-basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,Mona Zarić,Jr.,6-2,"Novi Sad, Serbia",Kykkos B'Lyceum,Forward,2023,womens-basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.0,Gabby Anderson,So.,5-11,"Columbus, Ohio",IMG Academy,Guard,2023,womens-basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10.0,Elena Rodriguez,Jr.,6-2,"Aguimes, Spain",IES Joaquin Artiles,Guard,2023,womens-basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12.0,Karlee White,Fy,5-9,"Burbank, Calif.",Oak Park High School,Guard,2023,womens-basketball,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3233,25.0,Ludovico Rollo,Jr.,6-0,"Boston, Mass.",Boston Latin School,D,2023,mens-soccer,NaN,NaN,NaN,NaN,NaN,165.0,NaN
3234,26.0,Ethan Veghte,So.,5-10,"Menlo Park, Calif.",Sacred Heart Preparatory,M,2023,mens-soccer,NaN,NaN,NaN,NaN,NaN,170.0,NaN
3235,28.0,Edwin Dominguez,Jr.,5-10,"Riverside, Calif.",Ramona High School,D,2023,mens-soccer,NaN,NaN,NaN,NaN,NaN,190.0,NaN
3236,33.0,Riccardo Rollo,Fy,5-10,"Boston, Mass.",Boston Latin School,D,2023,mens-soccer,NaN,NaN,NaN,NaN,NaN,160.0,NaN
3237,99.0,Lucian Wood,So.,6-1,"Cambridge, Mass.",Buckingham Browne & Nichols,GK,2023,mens-soccer,NaN,NaN,NaN,NaN,NaN,185.0,NaN

In [13]:
for year in range(2016,2025,1):
    mens_track = pd.read_html(f"https://gocrimson.com/sports/mens-track-and-field/roster/{year-1}-{year-2000}?view=2")[3]
    womens_track = pd.read_html(f"https://gocrimson.com/sports/mens-track-and-field/roster/{year-1}-{year-2000}?view=2")[2]
    mens_track["Sport"] = "track-and-field"
    womens_track["Sport"] = "track-and-field"
    mens_track["Year"] = year-1
    womens_track["Year"] = year-1
    print(year)
    
    all_years_players = pd.concat([all_years_players, mens_track, womens_track], ignore_index = True)

2016
2017
2018
2019
2020
2021
2022
2023
2024

In [14]:
all_years_players

,No.,Name,Yr.,Ht.,Hometown,High School,Pos.,year,sport,#,...,Pos,Academic Year,Hometown / High School,Wt.,Position,Event,C,Personal Pronouns,Sport,Year
0,3.0,Kennedy Heath,Sr.,5-9,"Cary, N.C.",Panther Creek,Guard,2023.0,womens-basketball,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,Mona Zarić,Jr.,6-2,"Novi Sad, Serbia",Kykkos B'Lyceum,Forward,2023.0,womens-basketball,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.0,Gabby Anderson,So.,5-11,"Columbus, Ohio",IMG Academy,Guard,2023.0,womens-basketball,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10.0,Elena Rodriguez,Jr.,6-2,"Aguimes, Spain",IES Joaquin Artiles,Guard,2023.0,womens-basketball,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12.0,Karlee White,Fy,5-9,"Burbank, Calif.",Oak Park High School,Guard,2023.0,womens-basketball,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4119,NaN,Cara Salsberry,Jr.,NaN,"Boynton Beach, Fla.",Somerset Academy Canyons,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Throws,NaN,NaN,track-and-field,2023.0
4120,NaN,Meaghan Toscano,Sr.,NaN,"Lower Gwynedd, Pa.",Germantown Academy,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Throws,NaN,NaN,track-and-field,2023.0
4121,NaN,Fieke Van der Kamp,Fy,NaN,"Victoria, Australia",Nillumbuk High School,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Distance,NaN,NaN,track-and-field,2023.0
4122,NaN,Abby Weber,Fy,NaN,"Chapel Hill, N.C.",Chapel Hill High School,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Distance,NaN,NaN,track-and-field,2023.0
4123,NaN,Milina Wepiwé,Fy,NaN,"Friedrichsdorf, Germany",Kaiserin-Friedrich Gymnasium,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Throws,NaN,NaN,track-and-field,2023.0

In [15]:
all_years_players.to_csv("Harvard.csv", index = False)

In [16]:
# all_years_players1 = all_years_players

In [17]:
# all_years_players1 = all_years_players1.drop("No.", axis= 1)
# all_years_players1['Name'] = (all_years_players1['Name'].fillna(" ") + all_years_players1['Full Name'].fillna(" ")).str.strip()
# all_years_players1 = all_years_players1.drop("Full Name", axis= 1)
# all_years_players1['Academic Year'] = (all_years_players1['Academic Year'].fillna(" ") + all_years_players1['Yr.'].fillna(" ")).str.strip()
# all_years_players1 = all_years_players1.drop("Yr.", axis= 1)
# # all_years_players1['Year'] = (all_years_players1['Year'].fillna(" ").astype("str") + all_years_players1['year'].fillna(" ")).astype("str").str.strip()
# # all_years_players1 = all_years_players1.drop("year", axis = 1)
# all_years_players1